$backgroundSite: #f6f9ff;
$colorSite: #080053;
$colorImportantText: #1502c1;
$colorTextLinkActive: #6150ff;
$colorButton: #c5bffa;
$colorButtonHover: #9388fc;
$colorTextButton: white;
$colorTextRilevant: #b136b4;
