@import "./style/_variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundSite;
  color: $colorSite;
  position: relative;
}
// [class^="col-"],
// .col {
//   background-color: grey;
//   // height: 5rem;
//   // width: 5rem;
//   border: 1px solid white;
// }
.link,
a {
  text-decoration: none;
  color: $colorSite;
}

nav {
  .link {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    &:hover {
      background-color: rgba($color: white, $alpha: 0.3);
    }
  }
}

header {
  margin-bottom: 6rem;
}

.contImg {
  img {
    height: 100%;
  }
}

.tcard {
  padding: 1.5rem;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 1px -1px 100px -13px #e9e7f0;
  -moz-box-shadow: 1px -1px 100px -13px #e9e7f0;
  -o-box-shadow: 1px -1px 100px -13px #e9e7f0;
  box-shadow: 1px -1px 100px -13px #e9e7f0;

  .contImgSvg.hoverEffect {
    display: none;
  }

  &:hover .contImgSvg.hoverEffect {
    display: block;
  }
  &:hover .contImgSvg.visible {
    display: none;
  }
}

p {
  margin: 0;
}

.lessImportant {
  color: rgba($color: $colorSite, $alpha: 0.5);
}

.contImgSvg {
  height: 3rem;
  align-self: flex-end;
  img {
    height: 100%;
  }
}

small {
  color: red;
}

.button {
  padding: 0.5rem 1rem;
  color: $colorTextButton;
  background-color: $colorButton;
  border-radius: 20px;
  color: black;
  &:hover {
    background-color: $colorButtonHover;
    transition: background-color 0.2s ease-in-out;
  }
}
