* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2c2b30;
  color: white;
}
[class^="col-"],
.col {
  background-color: grey;
  // height: 5rem;
  // width: 5rem;
  border: 1px solid white;
}
nav {
  .link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    &:hover {
      background-color: rgba($color: white, $alpha: 0.3);
    }
  }
}

header {
  margin-bottom: 6rem;
}
